body{
    font-family: 'Anton', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Poppins', sans-serif;


}

nav{
    display:flex;
    justify-content: space-between;
    margin: 0px 15px;
    padding: 5px;

}

.search{
    display:flex;
}

.logo span{
    color: #F7A200;
}

.dark-mode{
    display:flex;
    padding-top: 3px;
}

.other-links{
    display:flex;
    justify-content:space-evenly;
    padding-top: 3px;
    
}

.other-links h3{
    padding:0px 30px;
    font-weight: 100;
}

.user-icon{
    height: 35px;
    width: 35px;

}